.alert {
    padding: 0 0 1em 45px;
    border-top: 1px solid #f1f1f1;
}

.alert .body {
    padding: 1em 0 0;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 0
}

.alert .time {
    font-size: 12px;
    color: #bbb
}

.doc {
    padding: 0 0 1em 45px;
    border-top: 1px solid #f1f1f1;
}

.doc .body {
    padding: 1em 0 0;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 0
}

.doc .time {
    font-size: 12px;
    color: #bbb
}

.fp-heading-content {
    margin-bottom: 8px;
}
.fp-heading-title {
    color: rgba(0, 0, 0, .44);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: none
}