@gray-color: rgb(0, 0, 0, 0.8)
@gray-color-less: rgb(0, 0, 0, 0.44)

@normal-font-weight: 700;
@small-font-weight: 300;
@normal-font-style: normal;

.link {
}

.title {
  color: @gray-color;
  font-weight: @normal-font-weight;
  font-style: @normal-font-style;
}
.document {
  color: @gray-color-less;
  font-weight: @small-font-weight;
  font-style: @normal-font-style;
}
