@gray: rgb(0, 0, 0, 0.8)
@gray-light: rgb(0, 0, 0, 0.44)

@normal-font-weight: 700;
@small-font-weight: 300;
@normal-font-style: normal;

.link {
}

.graf-h2 {
  color: @gray;
  font-weight: @normal-font-weight;
  font-style: @normal-font-style;
}

.graf-h4 {
  color: @gray-light;
  font-weight: @small-font-weight;
  font-style: @normal-font-style;
}
